.nav-container {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    .logo {}

    ul {
        list-style: none;
        width: 60vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: auto 20px;

        li {}

        a {
            text-decoration: none;
        }
    }
}